
export 
OPENAI_API_KEY=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
export ELEVEN_LABS_API_KEY=sk_a747d5d38f9292020c5014c9335b300b4a1d35c68d8d142e